= form_for (@note) do |f|
  - if @note.errors.any?
    #error_explanation.alert.alert-danger
      %h2
        = @note.errors.count
        件のエラー:
      %ul
        - @note.errors.full_messages.each do |message|
          %li= message
  画像
  \#{f.file_field :image, { class: "form-control image-field" }}
  内容
  \#{f.text_area :content, { class: "form-control content-field" }}
  \#{f.submit "投稿", { class: "btn primary-btn" }}
