%li
  = image_for(note.user)
  %span.user-name
    = note.user.name
  %span.content
    = link_to note.content, note_path(note.id)
    %div
      %small
        %span{id: "like-link-#{note.id}"}
          = render 'likes/top_like_links', note: note
        %br
        %span{id: "like-count-#{note.id}"}
          = link_to note.likes.count, liking_users_note_path(note.id)
        人がいいね！といっています



