<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
       <p><%= @user.errors.count %>件のエラーがあります。</p>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  名前
  <%= f.text_field :name, class: "form-control name-field" %>

  メールアドレス
  <%= f.text_field :email, class: "form-control email-field" %>

  性別
  <%= f.text_field :sex, class: "form-control sex-field" %>

  専攻
  <%= f.text_field :major, class: "form-control major-field" %>

  University   
  <%= f.text_field :university, class: "form-control university-field" %>

  national
  <%= f.text_field :national, class: "form-control national-field" %>

  password
  <%= f.text_field :password, class: "form-control password-field" %>


  <%= f.submit '保存', class: "btn primary-btn" %>
<% end %>








  