- if current_user?(@user)
  %li= link_to 'プロフィールを編集', edit_user_path(@user)
  %section.user-introduction-section.user-profile-section  
    %h4="出身国"
    %p= @user.national 
    %h4="大学" 
    %p= @user.university 
    %h4="留学先の国"
    %p= @user.to_national
    %h4="留学先の大学" 
    %p= @user.to_university
    %h4="専攻"
    %p= @user.major
    %h4="留学した経緯"
    %p= @user.user_past
    %h4="留学してどうなりたいか"
    %p= @user.user_why
    %h4="留学を終えて"
    %p= @user.user_finish
    %h4="成果物"
    = form_tag groups_path do 
      = hidden_field_tag :user_id, @user.id 
      = link_to '話を聞いてみたい', groups_path, class: "btn facebook"
        
      
      