



<p id="notice" class="alert alert-success"><%= notice %></p>

<aside class="sidebar">
  <section>
    <span class="label">ユーザー</span>
    <h3 class="user-info"><%= @user.name %></h3>
  </section>

  <section>
    <span class="label">メールアドレス</span>
    <h3 class="user-info"><%= @user.email %></h3>
  </section>

  <section>
    <span class="label">専攻</span>
    <h3 class="user-info"><%= @user.major %></h3>
  </section>

  <section>
    <span class="label">birthday</span>
    <h3 class="user-info"><%= @user.birthday %></h3>
  </section>

  <section>
    <span class="label">University</span>
    <h3 class="user-info"><%= @user.university %></h3>
  </section>

  <section>
    <span class="label">National</span>
    <h3 class="user-info"><%= @user.national %></h3>
  </section>

  <section>
    <small><%= link_to 'プロフィールを編集', edit_user_path(@user) %></small>
  </section>


  <br>
</aside>

<ul class="notes">
  <%= render @notes %>
</ul>
