
/[if lt IE 9]
!!! 5
%html
%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title PEACE
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
  %script{:src => "js/bootstrap.min.js"}
  %script{:src => "http://code.jquery.com/jquery.js"}
%body
  %div.header
    %div.header-left= link_to "PEACE", root_path
    %a= link_to "Blog", "http://tobitate-student.com/", class: "header-right"
    - if user_signed_in?
      %a= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-right"
      %a= link_to "プロフィール", user_path(current_user), method: :get, class: "header-right"
      %a= link_to "Message", groups_path , method: :get, class: "header-right"
      %a= link_to "留学生を探す", users_path, method: :get, class: "header-right"
    - else
      = link_to "ログイン", new_user_session_path, class: "header-right"
=yield
          
/ %div#login-show.login.header-right ログイン
/   %div#login-modal.login-modal-wrapper
/     %div.modal
/       %div.close-modal
/         %i.fa.fa-2x.fa-times
/       %div#login-form
/       %h2 Emailログイン
/       %form{:action => "#"}
/         %input.form-control{:placeholder => "メールアドレス", :type => "text"}/
/         %input.form-control{:placeholder => "パスワード", :type => "password"}/
/         #submit-btn ログイン
/   %script{:src => "script.js"}
/   %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}